// background styles

.bg {
  &--white { background-color: $white; }
  &--light { background-color: $grey-lightest; }
  &--dark  { background-color: $grey-dark; }
  &--img   { @include background-attributes; }

  &--grey  { background-color: $grey-lighter; }
}