
// gradient
@mixin gradient($color1, $color2) { background: linear-gradient(180deg, $color1 12.52%, $color2 87.48%); }

// sizes
$xs: 13px;
$sm: 14px;
$md: 15px;
$lg: 16px;
$xl: 17px;

.btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: $md*1.25 $md*2.5;
  color: $white;
  font-family: $sans;
  font-weight: 600;
  font-size: $md;
  line-height: $md;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include transition;
  background-color: $primary;
  @include gradient($primary,darken($primary,10));
  &:hover, &:focus, &:focus { background-color: darken($primary,10); }

  // Styles
  &--orange, &--primary {
    background-color: $primary;
    @include gradient($primary,darken($primary,10));
    &:hover, &:focus { background-color: darken($primary,10); }
  }
  &--secondary {
    background-color: $secondary-medium;
    @include gradient($secondary-medium,darken($secondary-medium,8));
    &:hover, &:focus { background-color: darken($secondary-medium,8); }
  }
  &--outline {
    color: $grey-darkest;
    background: transparent;
    @include transition;
    &:before {
      // button border within original padding
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 1px;
      border-style: solid;
      border-radius: inherit;
      border-color: $primary;
      @include transition;
    }
    &:hover, &:focus {
      color: $white;
      @include gradient($primary,$primary-dark);
      &:before { border-color: $primary-dark; }
    }
  }

  // Scale
  &--xs { padding: $xs*1.25 $xs*2.5; font-size: $xs; }
  &--sm { padding: $sm*1.25 $sm*2.5; font-size: $sm; }
  &--lg { padding: $lg*1.25 $lg*2.5; font-size: $lg; }
  &--xl { padding: $xl*1.25 $xl*2.5; font-size: $xl; }
}