<div class="offer">

  <a class="offer__link" href="{{offer.link}}"><span class="btn btn--orange">View Offer</span></a>

  <div class="img img--16-9" style="background-image: url('{{offer.image}}')"></div>

  <div class="offer__content">

    <div class="offer__location">{{offer.location}}</div>
    <h3 class="h h--xs">{{offer.title}}</h3>
    <div class="offer__description">{{offer.description}}</div>

    <div class="offer__bottom">

      <div class="offer__bottom-left">

        {% if offer.saved %}
          <div class="offer__saved">
            <div class="offer__saved-label">Save up to&nbsp;</div>
            <div class="offer__saved-percent">{{offer.saved}}%</div>
          </div>
          <div class="offer__separator"></div>
        {% endif %}

        <div class="offer__details">
          <div>From <span class="offer__price">£{{offer.price}}</span></div>
          <div class="p--sm">{{offer.price-description}}</div>
          <div class="js-offer-expires p--sm" data-expires="{{offer.expires}}"></div>
        </div>

      </div>
      <div class="offer__bottom-right">
        <div class="offer__arrow"></div>
      </div>

    </div>

  </div>

</div>







